@page
@model FlowerBouquetManagement.Pages.Cart.CartModel

@{
    ViewData["Title"] = "Cart";
    var count = 1;
    decimal discount = 0;
    decimal total = 0;
}

<h1>Cart</h1>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert-danger text-lg-end">@TempData["ErrorMessage"]</div>
}
<table class="table text-lg-center">
    <thead>
        <tr>
            <th class="col-sm-1">
                Items
            </th>
            <th class="col-sm-5 text-lg-start">
                @Html.DisplayNameFor(model => model.Cart[0].FlowerBouquet)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.Cart[0].Quanity)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.Cart[0].Price)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.Cart[0].Discount)
            </th>
            <th>
                <form method="post">
                    <button asp-page-handler="Clear" class="btn btn-sm btn-danger col-8 mr-1">Clear Cart</button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cart)
        {
            <tr>
                <td class="col-sm-1">
                    @count
                </td>
                <td class="col-sm-5 text-lg-start">
                    @Html.DisplayFor(modelItem => Model.FlowerName[count - 1])
                </td>
                <form method="post">
                <td class="col-sm-1">
                    <input asp-for="Input.Quantity" class="form-control" value="@item.Quanity" max="@Model.Stock" min="1" required />
                </td>
                <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    <button asp-page-handler="Update" asp-route-id="@item.FlowerBouquetId" class="btn btn-sm btn-outline-primary mr-1">Edit</button>
                    <a asp-page="../Flower/Details" asp-route-id="@item.FlowerBouquetId" class="btn btn-sm btn-outline-info mr-1">Details</a>
                    <button asp-page-handler="Delete" asp-route-id="@item.FlowerBouquetId" class="btn btn-sm btn-outline-danger mr-1">Delete</button>
                </td>
                </form>
            </tr>
            count++;
            @if (item.Discount != null)
            {
                discount = item.Discount.Value;
            }
            total += (item.Price.Value - discount) * item.Quanity.Value;
        }
        <tr class="bg-light">
            <td></td>
            <td></td>
            <th>Total: </th>
            <th>@total$</th>
            <td></td>
            <td>
                <a asp-page="./Checkout" class="btn btn-sm btn-success col-8 mr-1">Checkout</a>
            </td>
        </tr>
    </tbody>
</table>
<a asp-page="../Flower/Index" class="btn btn-sm btn-outline-secondary mr-1">Continue shopping</a>