@page
@model FlowerBouquetManagement.Pages.Customer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Bithday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Bithday)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="Index" class="btn btn-outline-dark">Back to List</a> |
    <a asp-page="./Edit" asp-route-id="@Model.Customer?.CustomerId" class="btn btn-outline-primary">Edit</a>
</div>
